:root {
    --text: rgb(11, 11, 11);
    --main-bg: rgb(250, 250, 250);
    --light-grey: rgb(223, 213, 223);
    --highlight: rgb(186, 137, 211);
    --dark-highlight: rgb(61, 49, 80);
}

@font-face {
    font-family: body-font;
    src: url('../../fonts/Mukta-Regular.ttf');
}

body {
  margin: 0em;
  font-family: body-font, Arial, Helvetica, sans-serif;
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: cantarell, sans-serif;
}

nav ul li.menu-text {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}