@font-face {
    font-family: body-font;
    src: url('../fonts/Mukta-Light.ttf');
}

body {
  margin: 0em;
  font-family: body-font, Arial, Helvetica, sans-serif;
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: cantarell, sans-serif;
}

#big-title {
  font-size: 2.6em;
  color: white;
}

header h2 {
  font-size: 2.2em;
  font-style: italic;
  color: white;
}
