/* Navigation bit */
@media screen and (max-width: 900px) {
    nav.top-bar.header-bar div.top-bar-left li {
        width: 100%;
        text-align: center;
        height: 3rem;
        padding: 0 2rem;
    }

    nav.top-bar.header-bar div.top-bar-left {
        flex-direction: column;
    }

    nav ul li.menu-text {
        font-size: 2.6rem;
        margin-bottom: 2rem;
    }

    div.search-bit {
        justify-content: stretch;
    }

    div.search-bit input {
        width: 70vw;
        flex-grow: 3;
    }
}

nav.top-bar.header-bar, div > ul.dropdown.menu,
div.top-bar-right > ul {
  background-color: var(--highlight);
}

div > ul.dropdown.menu {
    align-items: center;
}

a:link, a:visited, button {
    background-color: var(--highlight);
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline;
}

button.search-btn {
    background-color: var(--main-bg);
    color: var(--dark-highlight);
}

button.search-btn:hover {
    background-color: var(--dark-highlight);
    color: var(--main-bg);
}

a:hover, a:active {
    background-color: var(--dark-highlight);
    font-weight: bold;
}
