/* Navigation bit */
nav {
  background-color: var(--highlight);
}

nav ul li {
    display: inline-block;
  list-style-type: none;
  font-size: 1.2em;
  padding: 0.6em;
}

a:link, a:visited {
    background-color: var(--highlight);
    color: white;
    padding: 4px 25px;
    text-align: center;
    text-decoration: none;
    display: inline;
}

a:hover, a:active {
    background-color: var(--dark-highlight);
    font-weight: bold;
}
/* navigation */
