
form {
    margin: 1rem auto;
    padding: 0.6rem;
    background-image: radial-gradient(#625666  50%, var(--highlight) 100%);
    color: var(--text); 
    border: 3px solid var(--dark-highlight);
    border-radius: 10px;
}

/* mobile view */
@media screen and (max-width: 900px) {
    form {
        width: 90%;
    }
}

@media screen and (max-width: 1200px) {
    form {
        width: 75%;
    }
}

@media screen and (min-width: 1201px) {
    form {
        width: 70%;
    }
}

label, legend {
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--main-bg);
}

input {
  font-size: 1.2rem;
  margin: 5px;
  padding: 2px 5px 2px 0px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

select {
  background: white;
}

input[type="submit"] {
    display: block;
    padding: 1rem 4rem;
    width: 95%;
    margin: 0 auto;
    font-size: 2.6rem;
    color: white;
    background-color: var(--highlight);
    font-weight: bold;
}

input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: var(--dark-highlight);
}