div.yarn-details h2 {
    font-size: 2.4rem;
    line-height: 1.5;
    padding: 0.3rem 1rem;
    font-weight: bold;
    font-style: oblique;
    color: var(--dark-highlight);
    text-align: center;
    text-shadow: 1px 1px 2px #fff, 
        -1px -1px 2px #fff;
}

div.yarn-details > div.details-heading {
    width: 100%;
    background: linear-gradient(0deg, #86728b, var(--main-bg));
}

div.yarn-details > div.details-body {
    /* flex-basis: 70%; */
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
}

div.yarn-details p {
    font-size: 1.4rem;
    padding: 0.6rem 0;
}

div.yarn-details strong {
    font-weight: bold;
    padding: 0 1rem 0 0;
}

p.colour-info > span.actual-colour {
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

p.colour-info > span.dyejob {
    margin-left: 1.6rem;
}

p > span.total_metres, p.total_cost {
    font-size: 1.6rem;
    font-weight: bold;
}

/* yarn-details update-delete buttons */
div.action-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    /* margin: 21px auto; */
}

div.action-btns > a {
    padding: 0.4rem 1.8rem;
}

div.action-btns > a > button {
    font-size: 1.8rem;
}