
table.db-results {
    width: 80%;
    margin: 1rem auto;
    border: 2px solid var(--light-grey);
    border-radius: 0.6rem;
    border-collapse: collapse;
}

thead {
  background: var(--dark-highlight);
  padding: 0em 0.4em;
  color: var(--main-bg);
}

table.db-results > tbody > tr:hover {
  background: var(--highlight);
}

td button.update, td button.delete {
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
}

td button.update:hover, td button.delete:hover {
    background-color: var(--dark-highlight);
}

td.yarn-colour {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
}

/* mobile view */
@media screen and (max-width: 768px) {
    td.mobile-hide, thead {
        display: none;
    }    
}