
table {
    width: 80%;
    margin: 1rem auto;
    border: 2px solid var(--light-grey);
    border-collapse: collapse;
}

thead {
  background: var(--dark-highlight);
  padding: 0em 0.4em;
  color: var(--main-bg);
}

thead, tr {
  border-bottom: 1px solid var(--text);
}

td, th {
  padding: 0.6em;
}

tr:nth-child(even) {
   background: var(--light-grey);
}

tr:hover {
  background: var(--highlight);
}

footer {
  grid-area: footer;
  position: fixed;
  bottom: 0px;
  left: 1em;
}
