@import 'partials/fonts';
@import 'partials/colours';


@mixin checkerboard($size, $base, $accent: rgba(0, 0, 0, 0.25)) {
    background: $base;
    background-image: linear-gradient(35deg, $accent 25%, 
        transparent 0, transparent 75%, $accent 0),
        linear-gradient(60deg, $accent 25%, transparent 0,
            transparent 75%, $accent 0);
    background-position: 0 0 $size $size;
    background-size: 2 * $size 2 * $size;
}

body {
    font-size: 16px;
    font-family: $body-fonts;
    background: $grey1;
    @include checkerboard(15px, $grey1, $grey3);
    color: $body-text;
}

/*** header ***/

header {
    background-color: $highlight;
    color: $white;
    text-align: center;
}

header h1 {
    font-size: 4rem;
    text-shadow: 1px 1px 3px $headings;
}

header h2 {
    font-size: 2.6rem;
    letter-spacing: 0.2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-fonts;
    text-align: center;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.4rem;
    color: $headings;
}

h4 {
    font-size: 2rem;
}

h5, h6 {
    font-size: 1.6rem;
}

/*** paddings ***/
ul, ol, p {
    padding: 1rem;
}


/*** main content ***/

main {
    background-color: $white;
    border: 1px solid $body-text;
    box-shadow: 0px 0px 5px $body-text,
            0px 0px 13px $grey2;
}

@media screen and (max-width: 1200px) {
    main {
        width: 90%;
        margin: 1rem auto;
    }

    nav.tutorial li {
        display: block;
    }

    ul.list li {
        margin-left: 0.3rem;
    }
}

@media screen and (min-width: 1201px) {
    main {
        width: 80%;
        margin: 1.6rem auto;
        border: 1px solid $body-text;
        box-shadow: 0px 0px 5px $body-text,
            0px 0px 13px $grey2;
    }

    main p {
        padding: 0 1rem;
    }

    ul.list li {
        margin-left: 4rem;
    }

    nav.tutorial li {
        display: inline-block;
    }
}

/*** Links, nav bar ***/

/* plain links */
a {
    color: $highlight;
    text-decoration-color: transparent;
    font-size: 1.6rem;
}

p a {
    font-size: 1rem;
}

a:visited {
    text-decoration-color: $grey2;
}

a:active, a:hover {
    color: $grey2;
    text-decoration-color: $headings;
}

/*** header links ***/
nav.header-links a {
    color: $white;
    text-decoration-color: transparent;
    font-size: 1.8rem;
    padding: 0 1.6rem;
}

nav.header-links a:active, nav.header-links a:hover {
    color: $white;
    text-shadow: 1px 1px 3px $grey1;
    text-decoration-color: $grey1;
}

/**** nav tutorial class ***/
nav.tutorial {
    background-color: $white;
    width: 100%;
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
}

nav.tutorial ul {
    padding: 0;
}

nav.tutorial ul li {
    display: inline-block;
}

nav.tutorial ul li a {
    padding: 0.3rem 1.6rem;
}

nav.tutorial ul li a:hover {
    background: $highlight;
    color: $white;
    text-decoration-color: $grey1;
}

/* bit for animating scroll to page section */
section {
    scroll-behavior: smooth;
}

/*** skills highlight - pills ***/
span.skill {
    background-color: $grey2;
    color: $white;
    padding: 0.3rem 0.6rem;
    margin-right: 0.6rem;
    margin-bottom: 0.3rem;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
}

/*** footer ***/

footer {
    width: 100%;
    background-color: $grey2;
    color: $white;
}

footer p {
    text-align: center;
}