*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(22, 22, 22);
  color: white;
  font-size: 16px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
  background-image: linear-gradient(180deg, black 0px, purple 250px);
  width: 100%;
  padding: 1rem;
}

header > h1#appTitle {
  font-size: 3rem;
  line-height: 2;
  text-align: center;
}

/*** Main layout ***/
main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

form {
  margin-top: 3rem;
  width: 50vw;
  padding: 1.5rem;
  background-color: rgb(200, 130, 255);
  color: black;
  border: 2px solid black;
  box-shadow: 0 0 15px 2px purple;
}

section#movieInfo {
  width: 75vw;
  min-height: 50vh;
  padding: 2rem;
  border: 2px solid gray;
}

section.film-flex-wrap {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

div#moviePoster > img {
  width: 100%;
  height: auto;
  /* margin-right: 2rem; */
}

h3#movieTitle {
  font-size: 2.6rem;
  text-align: center;
}