/*** font import ***/
@import url('https://fonts.googleapis.com/css2?family=Economica:wght@700&family=Poppins:wght@300&display=swap');


/** colours **/
:root {
  --fg-text: rgb(85, 85, 85);
  --borders: #d7d7d7;
  --bg: #f3f3f3;
  --dark-blue: #0071c5;
  --light-blue: #00aeef;
}

/** flexbox layout **/
body {
  background: var(--bg);
  color: var(--fg-text);
}

#options-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#options-box .card {
  margin: 1.4em;
  padding: 1.6em;
  border: 1px solid var(--borders);
}

.card ul > li {
  padding: 0.3em 0.6em;
}

@media only screen and (max-width: 900px) {
  main {
    max-width: 100%;
  }

  #header-img {
    display: none;
  }

  header h1 {
    padding-top: 2.6em;
  }

  #options-box {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1200px) {
  main {
    max-width: 85%;
  }

  #form {
    flex-direction: column;
  }

  #form input {
    width: 100%;
  }
}

main {
  max-width: 70%;
  padding: 0.6em;
  margin: auto;
}

header, footer {
  background-color: var(--bg);
  width: 100%;
}

header h1 {
  font-size: 3em;
  line-height: 2;
  text-align: left;
}

footer p.links {
  float: right;
}

footer p.copy {
  float: right;
  padding: 1em;
}

/** typography **/
* {
  padding: 0; margin: 0;
  font-size: 18px;
  font-family: 'Poppins', Tahoma, 'Liberation sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Economica', 'Roboto-sans', 'Liberation sans', sans-serif;
}

h1 {
  font-size: 2.6em;
  line-height: 1.5;
}

h2 {
  line-height: 1.3;
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

button.select {
  background: linear-gradient(70deg, var(--dark-blue) 0%, var(--light-blue) 100%);
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  border: none;
  padding: 0.6em 1.2em;
  display: block;
  margin: 0.6em auto;
  border-radius: 5px;
}

/** navigation **/
#nav-bar {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 1em;
}

#nav-bar a {
  text-decoration: none;
  background: white;
  color: var(--dark-blue);
  font-size: 1.2em;
  padding: 0.3em 0.6em;
}

#nav-bar a:hover {
  text-decoration: underline;
  color: var(--fg-text);
}

#nav-bar a:visited {
  color: var(--light-blue);
}

footer .links a, a.link-to-top {
  color: var(--dark-blue);
  text-decoration-color: var(--dark-blue);
}

footer .links a:hover, a.link-to-top:hover {
  color: var(--light-blue);
  text-decoration-color: var(--light-blue);
}

/** media **/
#header-img {
  width: 100px;
  height: 100px;
  float: left;
  padding: 5px;
}

section.feature {
  background: white;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
}

.feature .feature-icon {
  width: 25%;
  height: 25%;
  padding: 0.3em;
  float: left;
}

.feature .feature-text {
  padding: 1em;
}

#video {
  width: 640px;
  margin: auto;
  padding: 2em 0;
}

/** forms **/
#form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
  border: 1px solid var(--borders);
}

#form #email {
  width: 600px;
  border: 1px solid var(--borders);
  font-size: 1.2em;
  padding: 0.3em 0.6em;
}

#form input[type='submit'] {
  border: 0;
  background: var(--dark-blue);
  color: white;
  font-size: 1.2em;
  padding: 0.3em 0.6em;
}