/*******************************************
* HEADINGS & PARAGRAPHS
*
* h1-h6 values and line-heights  go here.
******************************************/
h1 {
    font-size: 2em;
    line-height: 2;
    letter-spacing: 2px; 
}
  
h2 {
    font-size: 2em;
    line-height: 1.5; 
}
  
h3 {
    font-size: 1.4em;
    line-height: 1.3; 
}
  
h4 {
    font-size: 1em;
    line-height: 1; 
}
  
h5 {
    font-size: 0.8em; 
}
  
h6 {
    font-size: 0.6em; 
}
  
a, p, article, table, figcaption {
    font-family: body-sans, "Liberation Sans", Arial, sans-serif;
    font-size: 1em;
    padding: 0.3em 1em; 
}
  
h1, h2, h3, h4, h5, h6 {
    text-align: center; 
}
  
h1, h3, h5 {
    font-family: body-bold, "Liberation Sans bold", Verdana, Arial, sans-serif; 
}
  
h2, h4, h6 {
    font-family: body-sans, "Liberation Sans", Arial, sans-serif;
    font-weight: 500; 
}
 
#key-contacts p {
    list-style-type: none;
    display: inline-block;
    padding: 0.3em 2em;
    font-family: body-sans, "Liberation Sans", Arial, sans-serif;
    font-size: 1.6em; 
}

/*** setting the colours for elements - DARK MODE ***/

body, main {
    background: #3f3932;
    color: #EEE; 
}

figure {
    color: #b2b3b5;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #EEE;
}

figure > img {
    background: white;
}

#logo {
    background-image: url('../pics/apple-touch-icon.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

/*** Plain links within the body copy ***/
a, a:visited {
    color: #2886a9;
    border-bottom: #200288; 
}
  
a:hover, a:focus {
    color: #200288;
    border-bottom: #2886a9; 
}

nav#main-nav a, nav#main-nav a:visited {
    color: #b2b3b5;
}

nav#main-nav a:hover, nav#main-nav a:focus {
    background: #141414;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-bottom: 2px solid #b2b3b5; 
}

nav#main-nav ul li {
    background: #3f3932;
}

#top-ham-menu {
    background: #3f3932;
    color: #b2b3b5;
}

.map-button {
    color: #3f3932;
    background: #b2b3b5;
}

.map-button:focus, .map-button:hover {
    background: #2886a9;
    color: white;
    border: 2px solid #200288; 
}

/*** tables ***/
table {
    border-top: #EEE 1px solid;
    border-bottom: #EEE 1px solid;
    box-shadow: 2px 0 2px rgba(240, 240, 240, 0.3), 
    -2px 0 2px rgba(240, 240, 240, 0.3); 
}

thead, tfoot {
    background-color: #333;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), #3f3932);
}
  
thead {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5); 
}
  
tfoot {
    border-top: 1px solid rgba(0, 0, 0, 0.5); 
}

colgroup {
    background: #4d453c;
}

thead > tr > th { 
    text-shadow: 2px 2px 0 #222, -1px -1px 0 #222; 
}

tbody > tr:nth-child(even) {
    background: #4d453c;
    background: rgba(255, 255, 255, 0.3); 
}
  
tbody > tr > td:nth-child(odd) {
    background: #302c26;
    background: rgba(0, 0, 0, 0.3); 
}
  
td {
    color: white; 
}

table.openingTable > tr, table.openingTable > tr:nth-child(even),
table.openingTable > tr:nth-child(odd), table.openingTable td,
table.openingTable > tbody > tr > td:nth-child(2n+1) {
    background: #3f3932; 
}

strong {
    color: #2886a9; 
}

.bullet-list li:before {
    color: #b2b3b5; 
}

/* forms */
.success, .js-success, .php-error, .js-error {
    color: #b2b3b5;
}

.success {
    background: #327b33; 
}
  
.php-error {
    background: #9f2302;
    color: #b2b3b5; 
}

.js-error {
    background: #3f3932;
    color: #EEE;
    border: 1px solid #9f2302;
    box-shadow: 0 0 2px rgba(255, 0, 0, 0.5); 
}

#error_space {
    color: #EEE;
}

textarea#message {
    box-shadow: 0 0 5px black;
}

input:focus, textarea:focus {
    box-shadow: -1px 1px 3px #2886a9, 0 0 5px #200288;
    background: #EEE; 
}

input, textarea {
    background: #b2b3b5;
    color: black;
}

input#submit-custom, input#attach {
    color: #3f3932;
    background: #b2b3b5;
}

input#submit-custom:focus, input#attach:focus,
input#submit-custom:hover, input#attach:hover {
    background: #2886a9;
    color: white;
    border: 2px solid #200288; 
}

button#unhide-attachments {
    background: #3f3932;
    color: #EEE;
    border: 2px solid #b2b3b5;
}