/********************************************
 * LAYOUT
 *
 * Setting up the padding, basic colours, and
 * any positioning.
 ********************************************/
html, body, main {
    width: 100%;
    height: 100%; 
}


/*** HEADER ***/
header {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
}
  
div#logo {
    width: 250px;
    height: 250px;
    flex-shrink: 3;
}

div.header-titles {
    flex-grow: 4;
}

/* mobile screens */
@media screen and (max-width: 1024px) {
    header hgroup h1 {
        font-size: 2.6rem;
    }

    header hgroup h2 {
        font-size: 2rem;
    }
}

/* bigger screens */
@media screen and (min-width: 1025px) {
    header hgroup h1 {
        font-size: 4rem;
    }

    header hgroup h2 {
        font-size: 3rem;
    }
}

hgroup#key-contacts p {
    font-family: body-font, Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    text-align: center; 
    text-shadow: 1px 1px 2px black, 
        -1px -1px 2px black, 0px 0px 6px black;
}

/*** BODY CONTENT ***/
pre, code, p {
    padding: 1rem; 
}

/*** FOOTER ***/
footer {
    width: 100%;
    margin: 20px auto 3px auto;
}
  
/** special bits **/
#ourMap {
    width: 100%;
    height: 500px; 
}
  
