/********************************************
 * LAYOUT
 *
 * Setting up the padding, basic colours, and
 * any positioning.
 ********************************************/
html, body {
    width: 100%;
    height: 100%; 
}

div.container-flex {
    display: flex;
    flex-direction: column;
}

/*** HEADER ***/
header {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
}
  
div#logo {
    width: 250px;
    height: 250px;
    flex-shrink: 3;
}

div.header-titles {
    flex-grow: 4;
}

/* mobile screens */
@media screen and (max-width: 1024px) {
    header hgroup h1 {
        font-size: 2.6rem;
    }

    header hgroup h2 {
        font-size: 2rem;
    }

    aside.right-column {
        display: none;
    }
}

/* bigger screens */
@media screen and (min-width: 1025px) {
    header hgroup h1 {
        font-size: 4rem;
    }

    header hgroup h2 {
        font-size: 3rem;
    }
}

hgroup#key-contacts p {
    font-family: body-font, Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    text-align: center; 
    text-shadow: 1px 1px 2px black, 
        -1px -1px 2px black, 0px 0px 6px black;
}

/*** BODY CONTENT ***/
pre, code, p {
    padding: 1rem; 
}

main {
    margin-top: 2rem;
    flex: 1 0 auto;
}

main#home-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section#left-content {
    flex-grow: 4;
    height: 100%;
}

aside.right-column {
    flex-shrink: 3;
    height: 100%;
}

/*** FOOTER ***/
footer {
    margin-top: 0.6rem;
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
}

footer section.flex {
    /*
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center; */
}

button.social-icon {
    margin: 0 1rem;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0;
    text-decoration: none;
    cursor: pointer;
}

footer #twitter-logo {
    background-image: url('../../pics/twitter_white.svg'); 
    background-size: contain;
}
  
footer #facebook-logo {
    background-image: url('../../pics/fb_white.svg');
    background-size: contain; 
}
 
footer #instagram-logo {
    background-image: url('../../pics/instagram_white.svg');
    background-size: contain;
}


/*** navigation ***/
span.home {
    display: inline-block;
    background-image: url('../../pics/home_white.svg');
    background-size: contain;
    width: 35px;
    height: 35px;
}
 
nav#main-nav {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    height: 3rem;
}

nav#main-nav a, nav#main-nav a:visited {
    text-decoration: none;
    width: 0px;
    transition: 0.7s ease; 
}
  
nav#main-nav a:hover, nav#main-nav a:focus {
    text-decoration: none;
    /* animation part, eases in */
    width: 100%;
}
  
nav#main-nav ul li {
    display: inline-block;
    list-style-type: none;
    height: 100%;
    padding: 0 1.4rem;
    font-size: 1.6em;
    transition: 0.3s all linear;
}

nav#main-nav ul.submenu {
    display: none;
}


/** special bits **/
#ourMap {
    width: 100%;
    height: 500px; 
}
  
