/********************************************
 * LAYOUT
 *
 * Setting up the padding, basic colours, and
 * any positioning.
 ********************************************/
html, body, main {
    width: 100%;
    height: 100%; 
}


/*** HEADER ***/
header {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
}
  
div#logo {
    width: 250px;
    height: 250px;
    flex-shrink: 3;
}

div.header-titles {
    flex-grow: 4;
}

/* mobile screens */
@media screen and (max-width: 1024px) {
    header hgroup h1 {
        font-size: 2.6rem;
    }

    header hgroup h2 {
        font-size: 2rem;
    }
}

/* bigger screens */
@media screen and (min-width: 1025px) {
    header hgroup h1 {
        font-size: 4rem;
    }

    header hgroup h2 {
        font-size: 3rem;
    }
}

hgroup#key-contacts p {
    font-family: body-font, Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    text-align: center; 
    text-shadow: 1px 1px 2px black, 
        -1px -1px 2px black, 0px 0px 6px black;
}

/*** BODY CONTENT ***/
pre, code, p {
    padding: 1rem; 
}

main {
    margin-top: 2rem;
}

main#home-main {
    display: flex;
    flex-direction: row wrap;
}

section#left-content {
    flex-grow: 3;
}

aside.right-column {
    flex-shrink: 2;
}

/*** FOOTER ***/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 20px auto 3px auto;
}

/*** navigation ***/
span.home {
    display: inline-block;
    background-image: url('../../pics/home_white.svg');
    background-size: contain;
    width: 35px;
    height: 35px;
}
 
nav#main-nav {
    display: flex;
    flex-direction: row wrap;
    height: 3rem;
}

nav#main-nav a, nav#main-nav a:visited {
    width: 0px;
    transition: 0.7s ease; 
}
  
nav#main-nav a:hover, nav#main-nav a:focus {
    text-decoration: none;
    /* animation part, eases in */
    width: 100%;
}
  
nav#main-nav ul li {
    display: inline-block;
    list-style-type: none;
    height: 100%;
    font-size: 1.6em;
}

nav#main-nav ul.submenu {
    display: block;
    position: relative;
    border-radius: 0 0 10px 10px;
    height: 0px;
    overflow: hidden;
}


/** special bits **/
#ourMap {
    width: 100%;
    height: 500px; 
}
  
