/***********
* FORMS
*
* styles for various types of form
* or PHP web applications
*/
.success, .js-success, .php-error, .js-error {
    font-family: body-sans, "Liberation Sans", Arial, sans-serif;
    width: 50%;
    margin: 0 auto; 
}
    
.js-error {
    width: 70%;
    border-radius: 0 0 5px 5px;
}
  
#error_space {
    width: 70%;
    height: 4em;
    margin: 0 auto;
    font-family: body-italic, "Liberation Sans", Arial, sans-serif;
    font-size: 1.2em; 
}
  
/* CONTACT FORM */
form#contactForm {
    width: 75%;
    margin: 0 auto; 
}
  
@media (max-width: 768px) {
    form#contactForm {
      width: 90%;
      margin: 0 auto; 
    } 
}

@media (max-width: 600px) {
    form#contactForm {
      width: 95%;
      margin: 0 auto; 
    } 
}

textarea#message {
    width: 100%;
    height: 8em;
    max-height: 60%; 
}
  
label {
    float: left;
    font-family: body-sans, "Liberation Sans", Arial, sans-serif;
    font-size: 1.2em; 
}

input {
    width: 100%;
}
  
input, textarea {
    float: left;
    font-family: body-bold, "Liberation Sans bold", Verdana, Arial, sans-serif;
    padding: 0.3em;
    border: 1px solid transparent;
    border-radius: 5px 5px 0 0; 
}
  
input#submit-custom, input#attach {
    width: 4em;
    font-family: body-sans, "Liberation Sans", Arial, sans-serif;
    font-size: 1.6em;
    padding: 0.4em 1em;
    margin-left: 15px;
    border: 2px solid transparent; 
}
  
button#unhide-attachments {
    border-radius: 5px 5px 0 0;
    font-family: body-bold, "Liberation Sans bold", Verdana, Arial, sans-serif;
    font-size: 1.2em;
    padding: 0.3em 1em;
    margin-left: 15px; 
}
  
#uploads-div {
    display: none; 
}
  
input#attach {
    padding: 0.3em 0.6em;
    font-size: 1.2em; 
}
  