/***************************************
* IMAGES
*
* Including figure, hover effects over images
* and captions
***************************************/
figcaption {
    font-size: 1.4em;
    font-family: "Liberation Sans bold", Verdana, Arial, sans-serif;
    letter-spacing: 1px;
    width: 100%; 
}
  
figure {
    width: 55%;
    height: 65%;
    margin: 15px auto;
    padding: 2.4rem;
    border-radius: 10px; 
}
  
figure > img {
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%; 
}
  

  