/***************************************
* IMAGES
*
* Including figure, hover effects over images
* and captions
***************************************/
figcaption {
    font-size: 1.4em;
    font-family: "Liberation Sans bold", Verdana, Arial, sans-serif;
    letter-spacing: 1px;
    width: 100%; 
}
  
figure {
    text-decoration: none; 
}
  
figure {
    width: 75%;
    height: 75%;
    margin: 15px auto;
    padding: 1em 1em;
    border-radius: 10px 10px 0 0; 
}
  
figure > img {
    max-width: 100%; 
}
  

  