/*******************************************
* NAVIGATION & LINKS
*
* a link settings and navigation bar styling
******************************************/
#twitter-logo {
    background: url('../../pics/twitter_white.svg') no-repeat 100% 100%; 
}
  
#facebook-logo {
    background: url('../../pics/fb_white.svg') no-repeat 100% 100%; 
}
 
#instagram-logo {
    background: url('../../pics/instagram_white.svg') no-repeat 100% 100%;
}

/*** Plain links within the body copy ***/
 
nav#main-nav {
    display: flex;
    flex-direction: row wrap;
}

nav#main-nav a, nav#main-nav a:visited {
    border-bottom: 2px solid transparent;
    width: 0px;
    transition: 0.7s ease; 
}
  
nav#main-nav a:hover, nav#main-nav a:focus {
    text-decoration: none;
    /* animation part, eases in */
    width: 100%;
}
  
 /*********
  * PHONE Navigation drop down menu only
  * and the menu button
  */
nav#main-nav ul li {
    display: block;
    height: 100%;
    font-size: 1.6em;
    padding: 0.3em 1em;
    border-bottom: 0px solid transparent; 
}
  
/* The hamburger menu, shown on mobile devices */
#top-ham-menu {
    font-size: 1.2em;
}
  

/*** footer ***/
footer p  {
    font-size: 0.9em; 
}
  
 /**************
 * For special bits that don't belong
 * in the other SCSS files
 *
 */
table {
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 0 5px black; 
}
  
/** Google Maps Buttons **/
.map-button {
    width: 4em;
    font-family: body-sans, "Liberation Sans", Arial, sans-serif;
    font-size: 1.6em;
    padding: 0.4em 1em;
    border: 2px solid transparent; 
}
    
table {
    width: 80%;
    margin: 13px auto;
    border-collapse: collapse;
    padding: 2px;
}
  
caption {
    font-size: 1.4em;
    font-family: body-italic, "Liberation Sans", Arial, sans-serif;
    padding: 0 0 0.3em 0; 
}
    
th, td {
    padding: 0.3em 0.8em; 
}
    
thead > tr > th {
    font-family: body-bold, "Liberation Sans bold", Verdana, Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 1.2em;
}
  
tfoot > tr > td {
    font-family: body-italic, "Liberation Sans", Arial, sans-serif;
    font-size: 0.9em; 
}
  
  /** for the opening Times table **/
  table.openingTable {
    margin: 5px auto 5px 2em;
    width: 60%;
    border: 0px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 0px transparent; }
  
  table.openingTable > tr, table.openingTable > tr:nth-child(even),
  table.openingTable > tr:nth-child(odd), table.openingTable td,
  table.openingTable > tbody > tr > td:nth-child(2n+1) {
    background: #3f3932; 
}
  
  /*** TEXT STYLES - for body copy, strong, em etc **/
  article {
    padding: 1em; 
}
  
  strong {
    color: #2886a9; 
}
  
  em {
    font-family: body-italic, "Liberation Sans", Arial, sans-serif; }
 
  .smaller-font {
    font-size: 70%; }
  
  .indent {
    padding-left: 3em; }
  
  .bulletList li {
    margin-left: 3em;
    font-family: body-sans, "Liberation Sans", Arial, sans-serif; }
  
  .bulletList li:before {
    content: "\261B  ";
    color: #b2b3b5; }
  
  .numberList li {
    font-family: body-sans, "Liberation Sans", Arial, sans-serif;
    list-style-type: decimal;
    margin-left: 3em; }
  
  .numberList li:before {
    content: " "; }
  
  .bulletList li > .numberList li {
    list-style-type: lower-alpha; }
  
  .bulletList li > .circles li {
    list-style-type: disc; }
  
  .bulletList li > .circles li:before {
    content: ""; }
  
  ul.bulletList li > p {
    margin-left: 1em; }
  
  .secondCol {
    border-left: 2px solid #352F27; }
  
  dl, dd, dt, .openingTable td {
    padding: 1em;
    font-size: 1.1em;
    font-family: body-sans, "Liberation Sans", Arial, sans-serif; }

/*******
 * Vehicle Record Card link on front page
 *
 * Links to a downloadable PDF
 */
 #recCardLink {
    width: 300px;
    height: 300px;
    float: right; }
  
  @media (max-width: 950px) and (min-width: 700px) {
    #recCardLink {
      width: 170px;
      height: 200px; }
  
    #recCardLink figcaption {
      font-size: 0.8em; } }
  @media (max-width: 700px) {
    #recCardLink {
      display: none; } }
  #recCardLink img {
    background: transparent; }
  
  #recCardLink h4 > a {
    color: #b2b3b5;
    font-size: 1.4em; }