:root {
    --peach: rgb(253, 174, 141);
    --cream: rgb(238, 225, 216);
    --blue: rgb(4, 125, 172);
    --yellow: rgb(249, 164, 45);
    --black: rgb(0, 0, 0);
}

@font-face {
    /* weights 300, 300 italic, 600, 600 italic
    font-family: 'Titillium Web', sans-serif; */
    font-family: body-font;
    src: url('../fonts/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: heading-font;
    src: url('../fonts/Ubuntu-Bold.ttf');
}

body {
    background-color: var(--peach);
    color: var(--black);
    font-size: 18px;
    font-family: body-font, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: heading-font, Arial, Helvetica, sans-serif;
}

