:root {
  /* colours and font variables */
  --body-text: rgb(10, 8, 0);
  --col-lightest: rgb(250, 250, 245);
  --col-grey-300: rgb(196, 195, 195);
  --col-grey-600: rgb(112, 112, 112);
  --col-orange-500: rgb(255, 171, 21);
  --col-yellow-300: rgb(231, 204, 52);
  /* weights 300, 300 italic, 600, 600 italic
    font-family: 'Titillium Web', sans-serif; */
  --body-font: "Titillium Web", sans-serif;
  --weight-body-font: 400;
  --heading-font: "Titillium Web", sans-serif;
  --weight-heading-font: 600;
}

body {
  background-color: var(--col-grey-300);
  color: var(--body-text);
  font-size: 16px;
  font-family: var(--body-font);
  font-weight: var(--weight-body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: var(--weight-heading-font);
}
