/* main grid */
body {
  text-decoration: none;
  height: 100%;
}


header {
  background-color: var(--col-grey-600);
  width: 100%;
  padding: 2rem 0 0 0;
}

header h1, header h2 {
  text-align: center;
}

section.header-social-links {
  display: flex;
  justify-content: end;
}

ul.socials {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 15px 0 0 0;
}

/* header end */

nav ul.main-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* nav end */


/* testing bits */
main.other-page, section.latest-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}

main#home-page {
  padding: 1rem;

}

div.project-card {
  height: 30vh;
  background-color: var(--col-orange-500);
}

section.about-me {
  min-height: 20vh;
  width: 60%;
  background-color: var(--col-lightest);
  margin: 2rem auto;
}