@media screen and (max-width: 768px) {
  /*** HEADER ***/
  section.header-social-links {
    margin-top: 1rem;
    justify-content: center;
  }

  ul.socials {
    width: 100%;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*** NAVIGATION ***/
  nav ul.main-menu {
    flex-direction: column;
  }

  nav ul.main-menu li.menu-item {
    display: block;
    width: 100%;
    text-align: center;
  }

  /*** About me section ***/
  section.about-me {
    width: 80%;
  }

}

@media screen and (max-width: 1024px) {
  /*** About me section ***/
  section.about-me {
    width: 70%;
  }
}