/*** GENERAL STYLES ***/
body {
  background-color: var(--light-blush);
  /* aubergine color */
  color: var(--dark-purple);
  font-size: 16px;
  font-family: "Lexend Deca", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}