/*** GENERAL STYLES ***/
body {
  background-color: hsl(70, 27%, 96%);
  /* aubergine color */
  color: #29182e;
  font-size: 16px;
  font-family: "Lexend Deca", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}