@import 'partials/fonts';
@import 'partials/colours';

body {
    font-size: 16px;
    font-family: $body-fonts;
    background-color: $grey1;
    color: $body-text;
}

/*** header ***/

header {
    background-color: $highlight;
    color: $white;
    text-align: center;
}

header h1 {
    font-size: 4rem;
    text-shadow: 1px 1px 3px $headings;
}

header h2 {
    font-size: 2.6rem;
    letter-spacing: 0.2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-fonts;
    text-align: center;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.4rem;
    color: $headings;
}

h4 {
    font-size: 2rem;
}

h5, h6 {
    font-size: 1.6rem;
}

/*** paddings ***/
ul, ol, p {
    padding: 1rem;
}


/*** main content ***/

main {
    background-color: $white;
}

@media screen and (max-width: 1200px) {
    main {
        width: 90%;
        margin: 0 auto;
    }

    nav.tutorial li a {
        display: block;
    }

    ul.list li {
        margin-left: 0.3rem;
    }
}

@media screen and (min-width: 1201px) {
    main {
        width: 80%;
        margin: 0 auto;
        border: 1px solid $body-text;
        box-shadow: 0px 0px 5px $body-text,
            0px 0px 13px $grey2;
    }

    main p {
        padding: 0 1rem;
    }

    ul.list li {
        margin-left: 4rem;
    }

    nav.tutorial li a {
        display: inline-block;
    }
}