body {
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #aaa;
}

/*** header ***/

header {
    background-color: teal;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 4rem;
    text-shadow: 1px 1px 3px blue;
}

header h2 {
    font-size: 2.6rem;
    letter-spacing: 0.2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 2rem;
}

h5, h6 {
    font-size: 1.6rem;
}

/*** paddings ***/
ul, ol, p {
    padding: 1rem;
}


/*** main content ***/

main {
    background-color: white;
}

@media screen and (max-width: 1200px) {
    main {
        width: 90%;
        margin: 0 auto;
    }

    nav.tutorial li a {
        display: block;
    }

    ul.list li {
        margin-left: 0.3rem;
    }
}

@media screen and (min-width: 1201px) {
    main {
        width: 80%;
        margin: 0 auto;
        border: 1px solid black;
        box-shadow: 0px 0px 5px black;
    }

    main p {
        padding: 0 1rem;
    }

    ul.list li {
        margin-left: 4rem;
    }

    nav.tutorial li a {
        display: inline-block;
    }
}