/** media **/
#header-img {
  width: 100px;
  height: 100px;
  padding: 5px;
}

section.feature {
  background: white;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
}

.feature .feature-icon {
  width: 450px;
  height: 450px;
  margin-left: 1rem;
  /* background stuff */
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.feature-icon#cache {
  width: 350px;
  height: 350px;
  background-image: url('../../cache.svg');
}

.feature-icon#install {
  background-image: url('../../installation.svg');
}

.feature-icon#frequency {
  background-image: url('../../frequency.svg');
}

.feature-icon#cores {
  background-image: url('../../cores.svg');
}

.feature .feature-text {
  padding: 1rem;
  text-align: justify;
}

#video {
  width: 640px;
  margin: auto;
  padding: 2rem 0;
}
