@media only screen and (max-width: 900px) {
  body {
    grid-template-areas: 
      'header header header'
      'main main main'
      'sidebar sidebar sidebar'
      'footer footer footer';
  }

  #header-img {
    display: none;
  }

  header h1 {
    padding-top: 1.6em;
    margin-left: 2rem;
  }

  #options-box {
    flex-direction: column;
  }

  /* email form */
  #form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #form input {
    display: block;
    width: 100%;
  }

  /* white feature boxes */
  section.feature {
    margin: 1rem 0.8rem;
  }

  /* Youtube video area */
  
}

